* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.write_img {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

.onlyimg {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

.onlyimg img{
    margin-top: 142px;
}

@media screen and (max-width:900px) {
    body {
        float: none;
        flex-direction: column;
    }
}


