* {
    box-sizing: border-box;
}

body {

    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: auto;
  }
 
  .onlywrite{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  .writeimg{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  .onlyimg{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  .writeimg img{
    max-width: 460px;
    max-height:200px;
}

  .onlyimg img{
    margin-top: 142px;
    max-width: 460px;
    max-height:200px;
}



@media screen and (max-width:900px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
