  div {
    color: white;
    /*background: rgba(0,0,0,0) url('assets/blackDoor.jpg') no-repeat fixed left top;*/
    background-image: url('assets/blackDoor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /* İMAGEYİ EKRANA SABİTLİYOR EKRANI AŞAĞIYA ÇEKSENİZDE İMAGE AYNI YERDE KALIYOR */
    background-position: left top;
    margin-left: 850px;
  }

  body {
    background-image: url('assets/damlalı_koyuTema.jpg');
  }

  
/* İMAGENİN TEKRARLANMASI İÇİN background-repeat: repeat-x; VEYA background-repeat: repeat-y; KULLANILIR.
 TEKRARLANMAMASI İÇİN İSE background-repeat: no-repeat; KULLANILIR. */

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}