  img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }

  * {
    box-sizing: border-box;
  }
  
  .img-container {
    float: left;
    width: 33.33%;
    padding: 1px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }