* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

.baslik {
    padding: 30px;
    text-align: center;
    background: white;
}

.baslik h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* YAN YANA SÜTUNLAR column */

/* SOL SÜTUN */
.leftcolumn {
    float: left;
    width: 75%;
}

/* SAĞ SÜTUN */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding: 20px;
}

.sahteimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and(max-width: 850px) {
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
}

@media screen and(max-width: 500px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}